.noSpace {
  padding: .5em;
  margin: 0;
}

.black {
  background-color: #203240;
  color: white;
}

.flex {
  display: flex;
}

.h1 {
  margin-top: .1em;
  margin-bottom: 0;
}

.flexLeft {
  margin-right: auto;
}

.flexRight {
  padding-right: 1em;
}

.link-default {
  color: white;
}
.link-link:link {
  color: white;
}
.link-visited:visited {
  color: white;
}
.link-hover:hover {
  color: white;
}
.link-active:active {
  color: white;
}

.link {
  composes: link-default link-link link-visited link-hover link-active;
}
